#container {
  box-shadow: 5px 5px 20px 5px;
  border-radius: 5px;
  width: 250px;
  height: 250px;
  position: relative;
  background: white;
  overflow: hidden;
}
#hello {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: red;
  left: 0px; top: 0px;
}
#start {
  position: absolute;
  top: 10px; left: 300px;
}
#reset {
  position: absolute;
  top: 10px; left: 345px;
}
#slider {
  position: absolute;
  top: 30px; left: 300px;
}
#stop {
  position: absolute;
  top: 10px; left: 395px;
}
