#container {
  width: 250px;
  height: 250px;
  position: relative;
  background: yellow;
  overflow: hidden;
}
#hello {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: red;
  left: 0px; top: 0px;
}
#start {
  position: absolute;
  top: 10px; left: 320px;
}
#reset {
  position: absolute;
  top: 10px; left: 370px;
}
#slider {
  position: absolute;
  top: 30px; left: 320px;
}
